In [ ]:
from datascience import *
import numpy as np

%matplotlib inline
import matplotlib.pyplot as plots
plots.style.use('fivethirtyeight')

## Python fundamentals ##

Python as a calculator:

In [ ]:
2 + 9

In [ ]:
2 * 4

In [ ]:
# The line below errors
# * 4

In [ ]:
2 ** 4

In [ ]:
# The line below errors 
# 2 * * 4

In [ ]:
2/9

Python understands the order of operations!

In [ ]:
2 + 3 * 9

In [ ]:
(2 + 3) * 9

In [ ]:
-1 - 1 + 2 * (3 * 4 * 5 / 6) ** 3 + 7 + 8 + 11

Floating point vs integer representation

In [ ]:
8

In [ ]:
64 / 8

Strings!

In [ ]:
'hello'

In [ ]:
'Data 8'

In [ ]:
"hello"

In [ ]:
'I don't ever want to miss class'

In [ ]:
"I don't ever want to miss class"

## Names ##

In [ ]:
a = 2

In [ ]:
a

Names must first be assgined to a value! The line below causes a name error since `b` isn't assigned yet.

In [ ]:
b

In [ ]:
b = 3

In [ ]:
b

**Discussion Question 1**: What will the value of `a` be once the code in the following cell has finished running?

In [ ]:
a = 2 
a + 5

In [ ]:
a = a + 5
a

______

In [ ]:
a * b

In [ ]:
a

In [ ]:
b

**Discussion Question 2**: What will the value of `total` be once the code in the following cell has finished running?

In [ ]:
total = a + b
total

a = 10
total

______

In [ ]:
total

In [ ]:
a

In [ ]:
total = a + b
total

The line below causes a *syntax error*.

In [ ]:
a + b = total

### Why Names?

A cell with arithmetic but no names is difficult to interpret.

**Example:** On January 1, 2024, the CA Minimum Wage for Employers with 26 Employees or More increased to $16/hour. Calculate the yearly minimum wage of an employee who works for such an employer.

Method 1:

In [ ]:
40 * 16

In [ ]:
40 * 52 * 16

Method 2:

In [ ]:
ca_hourly_minimum_wage = 16.00
hours_per_week = 40
weeks_per_year = 52

In [ ]:
hours_per_year = hours_per_week * weeks_per_year

In [ ]:
hours_per_year

In [ ]:
weekly_wages = hours_per_week * ca_hourly_minimum_wage
weekly_wages

In [ ]:
yearly_wages = weekly_wages * weeks_per_year
yearly_wages

## Functions, Call Expressions and Arguments

In [ ]:
abs(-5)

In [ ]:
abs(1 - 3)

Names can help us with inputs (called **arguments** in computer science jargon) to functions!

In [ ]:
day_temp = 52
night_temp = 47
abs(night_temp - day_temp)

Functions can take multiple arguments.

In [ ]:
min(14, 15)

Some functions can be called with a single argument *or* with multiple arguments!

In [ ]:
round(123.456)

In [ ]:
round(123.456, 1)

In [ ]:
round(123.456, ndigits=1)

In the third line, `ndigits` is a **named argument**.

How did I know that `ndigits` would work as a name? You can use `?` to figure out everything you want to know about a function.

In [ ]:
round?

In [ ]:
round(number=123.456)

The line below causes a type error because the wrong name was used.

In [ ]:
round(123.456, digs=1)

The line below causes an error if the `math` module has not been imported.

In [ ]:
math.sqrt(2)

In [ ]:
import math

In [ ]:
math.sqrt(2)

## Tables ##

### Example 1: Ice cream

In [ ]:
cones = Table.read_table('cones.csv')
cones

In [ ]:
cones.show(3)

In [ ]:
cones.show()

**Table Operations**

In [ ]:
cones.select('Flavor')

In [ ]:
cones.select('Flavor', 'Price')

The line below causes an error because `Flavor` is not a name, but rather, a *column* in the `cones` table.

In [ ]:
cones.select(Flavor, 'Price')

In [ ]:
cones.drop('Price')

In [ ]:
cones

In [ ]:
cones_without_price = cones.drop('Price')
cones_without_price

In [ ]:
cones.where('Flavor', 'chocolate')

In [ ]:
cones.sort('Price')

In [ ]:
cones.sort('Price', descending=True)

In [ ]:
cones.sort('Flavor', descending=True)

### Example 2: Basketball

In [ ]:
# From https://github.com/erikgregorywebb/datasets/blob/master/nba-salaries.csv
nba = Table.read_table('nba_salaries.csv')
nba

In [ ]:
point_guards = nba.where('position', 'PG').where('season', 2020)

In [ ]:
point_guards

In [ ]:
point_guards.drop('position')

In [ ]:
point_guards

In [ ]:
point_guards = point_guards.drop('rank', 'position', 'season')

In [ ]:
point_guards.show(10)

In [ ]:
point_guards.sort('salary').show(10)

In [ ]:
point_guards.sort('salary', descending=True).show(10)

The order of the computations does matter!

**Discussion Question**: Which one of the following two lines of code fail?

In [ ]:
nba.drop('position').where('position', 'PG')

In [ ]:
nba.where('position', 'PG').drop('position')